{% extends "layout.html" %}
{% block content %}

<div id = "game">
<h2>Single player Game!</h2>

<div class="nobreak" id="oname">{{ xname }} VS {{ oname }}</div>
<div id="turn">

It's <div class ="nobreak" id="player">{{turn}}</div>'s Turn!

{% if turn == 'X' %}
    <img class="symbol" src="https://freetictactoe.com/images/mark-x.png"/>
{% else %}
    <img class="symbol" src="https://freetictactoe.com/images/mark-o.png"/>
{% endif %}
</div>

<table id="main_game_table">
    {% for i in range(3) %}
    <tr>
        {% for j in range(3) %}
        <td>
            {% if game[i][j] == "X" %}
                <img src="https://freetictactoe.com/images/mark-x.png"/>
            {% elif game[i][j] == "O" %}
                <img src="https://freetictactoe.com/images/mark-o.png"/>
            {% else %}
                <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</div>
</table>

<div id="buttons">
  <a href="/computerMove"><button class="button">Help!</button></a>
  <a href="/reset"><button class="button">Reset</button></a>
</div>

{% endblock %}